<div flex-item="12">
  <div class="p+">
    <lx-button lx-type="fab" ng-click="vm.reloadRules()"><i class="mdi mdi-reload"></i></lx-button>
    <timer ng-if="!vm.hideTimer" class="m+++" fs-body-2 interval="1000" countdown="60">Refreshing in {{seconds}}</timer>
  </div>
  <div cg-busy="vm.isLoading">
    <div flex-container="row" flex-align="center">
      <lx-data-table id="rules" lx-selectable="true" lx-thead="vm.rulesContextHeader" lx-tbody="vm.rulesContext"></lx-data-table>
    </div>

    <div class="card tc-black-2 mt++ p+" ng-repeat="rule in vm.selectedRows">
      <div>
        <span class="fs-display-1 display-block" ng-bind="rule.clientName"></span>
        <div ng-if="rule.ruleScripts.length">
          <div class="script" ng-repeat="script in rule.ruleScripts" style="cursor: default;">
            <span class="fs-headline display-block">Rule {{rule.ruleIds[$index]}}</span>
            <pre class="fs-body-2 prettyprint" ng-bind="script"></pre>
            <div class="divider divider--dark"></div>
          </div>
        </div>
        <div ng-if="!rule.ruleScripts.length">
          <span class="fs-body-2 display-block">No Rules!</span>
        </div>
      </div>
    </div>
  </div>
</div>
